<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
        <menu-principal></menu-principal>
        <botao-contador></botao-contador>
        <botao-contador></botao-contador>
        <!-- Automaticamente muda para kebab-case -->
    </div>

    <script type="module"> //Type Module allows import and export components
        
        import MenuSite from "./MenuSite.js";
        import BotaoContador from "./BotaoContador.js"

        Vue.component("MenuPrincipal", MenuSite)
        //Isso é uma instância 
        const vm = new Vue({
            el: '#app',
            data: {   //Data aqui é uma propriedade
            message: 'Learning!',
            },
            components: {
                BotaoContador
            }
        }); 
    </script>
    
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>

</body>
</html>